<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0 user-scalable=no">
<title>Comment Lease</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<script th:src="@{/js/app.js}"></script>
</head>
<body>
	<div th:replace="page_layout/slider-header :: header"></div>
	<form th:action="@{/leasecom}" th:object="${lease}" method="post"
		id="subForm">
		<div>
			<label for="title" class="form-label-required">Requested Lease Title</label> <input
				type="text" th:field="*{title}" id="title"
				placeholder="Title" class="form-control">
			<div id="title-error" class="error" style="display: none">Invalid
				Title</div>
			  <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error"></span>
			<br>
		</div>
		<div>
			<label for="tenant_com" class="form-label-optional">Comment</label> <input
				type="text" th:field="*{tenant_com}" id="tenant_com" placeholder="Comment"
				class="form-control"> <span
				th:if="${#fields.hasErrors('tenant_com')}" th:errors="*{tenant_com}"></span>
		</div>
		<button type="submit" id="submitButtonForm">Submit Comment</button>
	</form>
	<script>
		// light-dark mode:
		let slider = document.getElementById("myRange");
		let body = document.querySelector("body");
		const form = document.getElementById("subForm");

		initializeBrightnessSlider(slider);

		// check inputs:
		var inputTitle = document.getElementById("title");
		var submitButton = document.getElementById("submitButtonForm");

		submitButton.addEventListener("click", function(e) {
			  e.preventDefault();
			  if (!isNotValidTitle(inputTitle)) {
				  form.submit();
			  } else {
				  if(isNotValidTitle(inputTitle)) {
						document.getElementById("title-error").style.display = "block";
					  inputTitle.style.borderColor = "red";
				  }
			  }
			});
		
		inputTitle.addEventListener("blur", function() {
			if (isNotValidTitle(inputTitle)) {
				document.getElementById("title-error").style.display = "block";
				inputTitle.style.borderColor = "red";
			} else {
				document.getElementById("title-error").style.display = "none";
				inputTitle.style.borderColor = "black";
			}
		});

	</script>

</body>
</html>