<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0 user-scalable=no">
<title>Lease List</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<script th:src="@{/js/app.js}"></script>
</head>
<body>
	<div th:replace="page_layout/slider-header :: header"></div>
	<div th:if="${ not#lists.isEmpty(leases)}">
		<table id="listTable">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Comment</th>
                <th scope="col">Address</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Dei</th>                
                <th scope="col">TK</th>
                <th scope="col">Cost</th>
                <th sec:authorize="hasAnyRole('LESSOR','TENANT')" scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="lease : ${leases}">
                <td th:text="${lease.title}"></td>
                <td th:text="${lease.tenantCom}"></td>
                <td th:text="${lease.address}"></td>
                <td th:text="${lease.startDate}"></td>
                <td th:text="${lease.endDate}"></td>
                <td th:text="${lease.dei}"></td>
                <td th:text="${lease.tk}"></td>
                <td th:text="${lease.cost}"></td>
                <td sec:authorize="hasRole('LESSOR')">
                    <button type="submit" th:id="${lease.id}"
                            name="deleteLease"><i class="remove user icon"></i>
                        Delete</button>
                </td>
            	<td sec:authorize="hasRole('TENANT')">
                    <button type="submit" th:id="${lease.id}"
                            name="agreeLease"><i class="remove user icon"></i>
                        Agree</button>
                </td>
            </tr>
            </tbody>
            </table>
    </div>
	<div th:if="${ #lists.isEmpty(leases)}">		
		<table id="listTable">
		<thead>
			<!-- <th scope="col" style="background-color:transparent; color:inherit;">No Leases found.</th>-->
			 <th scope="col">No Leases found.</th>
		</thead>
		</table>
	</div>
    <script type="text/javascript">
        $("[name='deleteLease']").click(function() {
            var urlCall = "/user/leases/";
            $.ajax({
                url : urlCall + $(this).attr('id'),
                type : 'DELETE',
                success : function(result) {
                    console.log(result);
                    $(location).attr("href", value="/leaselist");
                },
                error : function(result) {
                    console.log(result);
                },
            });
        });

        $("[name='agreeLease']").click(function() {
            var urlCall = "/user/leases/agree/";
            $.ajax({
                url : urlCall + $(this).attr('id'),
                type : 'POST',
                success : function(result) {
                    console.log(result);
                    $(location).attr("href", value="/leaselist");
                },
                error : function(result) {
                    console.log(result);
                },
            });
        });

		// light-dark mode:
		let slider = document.getElementById("myRange");
		let body = document.querySelector("body");
		initializeBrightnessSlider(slider);
        </script>
</div>
</body>
</html>