<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0 user-scalable=no">
<title>Admin List</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<script th:src="@{/js/app.js}"></script>
</head>
<body>
	<div th:replace="page_layout/slider-header :: header"></div>
	<div th:if="${ not#lists.isEmpty(admins)}">
		<table id="listTable">
			<thead>
				<tr>
					<th scope="col">Username</th>
					<th scope="col">First Name</th>
					<th scope="col">Last Name</th>
					<th scope="col">Email</th>
					<th sec:authorize="hasRole('ADMIN')" scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="admin : ${admins}">
					<td th:text="${admin.username}"></td>
					<td th:text="${admin.firstName}"></td>
					<td th:text="${admin.lastName}"></td>
					<td th:text="${admin.email}"></td>
					<td sec:authorize="hasRole('ADMIN')">
						<button class="table-button-del" type="submit" th:id="${admin.id}"
							name="deleteAdmin">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>

		<script type="text/javascript">
			$("[name='deleteAdmin']").click(function() {
				var urlCall = "/user/admin/";
				$.ajax({
					url : urlCall + $(this).attr('id'),
					type : 'DELETE',
					success : function(result) {
						console.log(result);
						$(location).attr("href", value = "/adminlist");
					},
					error : function(result) {
						console.log(result);
					},
				});
			});
		</script>

	</div>
	<div th:if="${ #lists.isEmpty(admins)}">		
		<table id="listTable">
		<thead>
			 <th scope="col" style="background-color:transparent; color:inherit;">No Admins found.</th>
		</thead>
		</table>
	</div>
	<script>
		// light-dark mode:
		let slider = document.getElementById("myRange");
		let body = document.querySelector("body");
		// adds square animation:
		// let listTable = document.getElementById("listTable");
		// slider.addEventListener("input", function() {
		// 	  if (this.value < 50) {
		// 		    listTable.style.backgroundColor = "#fff";
		// 		    listTable.style.color = "#000";
		// 	  } else {
		// 	    // do something if the value is equal to or above 50
		// 		    listTable.style.backgroundColor = "#333";
		// 		    listTable.style.color = "#fff";
		// 	  }
		// 	});
		initializeBrightnessSlider(slider);
	</script>
</body>
</html>