<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{page_layout/layout}">
<head>
<meta charset="UTF-8">
<title>Register as Tenant</title>
</head>
<body>
	<div layout:fragment="main-content">
		<form class="row g-3" th:action="@{/registerTenant}"
			th:object="${user}" method="post">
			<div class="form-outline mb-4">
				<label for="username" class="form-label">Username *</label> <input
					type="text" th:field="*{username}" id="username"
					placeholder="username" class="form-control"> <span
					th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
			</div>
			<div class="form-outline mb-4">
				<label for="email" class="form-label">Email *</label> <input
					type="text" th:field="*{email}" id="email" placeholder="email"
					class="form-control"> <span
					th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
			</div>
			<div class="form-outline mb-4">
				<label for="password" class="form-label">Password *</label> <input
					type="password" th:field="*{password}" id="password"
					placeholder="password" class="form-control"> <span
					th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
			</div>
			<table class="form-outline mb-4">
				<tr>
					<td>First Name</td>
					<td>Last Name</td>
				</tr>
				<tr>
					<td><input type="text" th:field="*{firstName}" id="firstName"
						placeholder="FirstName" class="form-control"> <span
						th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
					</td>
					<td><input type="text" th:field="*{lastName}" id="lastName"
						placeholder="LastName" class="form-control"> <span
						th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
					</td>
				</tr>
			</table>
			<table>
				<tr>
					<td>Phone</td>
					<td>AFM</td>
				</tr>
				<tr>
					<td><input type="number" th:field="*{phone}" id="phone"
						placeholder="Phone" class="form-control"> <span
						th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
					</td>
					<td><input type="number" th:field="*{afm}" id="afm"
						placeholder="AFM" class="form-control"> <span
						th:if="${#fields.hasErrors('afm')}" th:errors="*{afm}"></span></td>
				</tr>
			</table>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</body>
</html>