<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{page_layout/layout}">
<head>
<meta charset="UTF-8">
<title>Update Lease Page</title>
</head>
<body>
	<div layout:fragment="main-content">
		<form class="row g-3" th:action="@{/leaseupdate}" th:object="${lease}"
			method="post">
			<div class="form-outline mb-4">
				<label for="title" class="form-label">Requested Lease Title *</label> <input
					type="text" th:field="*{title}" id="title" placeholder="Title"
					class="form-control"> <span
					th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
			</div>
			<div class="form-outline mb-4">
				<label for="new_title" class="form-label">New Title</label> <input
					type="text" th:field="*{new_title}" id="new_title" placeholder="New Title (Optional)"
					class="form-control"> <span
					th:if="${#fields.hasErrors('new_title')}" th:errors="*{new_title}"></span>
			</div>
			<div class="form-outline mb-4">
				<label for="tenant_username" class="form-label">New Tenant
					Username</label> <input type="text" th:field="*{tenant_username}"
					id="tenant_username" placeholder="New Tenant Username (Optional)"
					class="form-control"> <span
					th:if="${#fields.hasErrors('tenant_username')}"
					th:errors="*{tenant_username}"></span>
			</div>
			<table class="form-outline mb-4" style="width: 100%">
				<tr>
					<td>Address</td>
					<td style="width: 33%">Municipality</td>
					<td style="width: 20%">Postal Code</td>
				</tr>
				<tr>
					<td><input type="text" th:field="*{address}" id="address"
						placeholder="Address" class="form-control"> <span
						th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
					</td>
					<td><input type="text" th:field="*{dimos}" id="dimos"
						placeholder="Municipality" class="form-control"> <span
						th:if="${#fields.hasErrors('dimos')}" th:errors="*{dimos}"></span>
					</td>
					<td><input type="number" th:field="*{tk}" id="tk" min="0"
						placeholder="Code" class="form-control"> <span
						th:if="${#fields.hasErrors('tk')}" th:errors="*{tk}"></span></td>
				</tr>
			</table>
			<table class="form-outline mb-4" style="width: 100%">
				<tr>
					<td style="width: 30%">Cost</td>
					<td>Reason</td>
				</tr>
				<tr>
					<td><input type="number" step="0.01" min="0"
						th:field="*{cost}" id="cost" placeholder="Cost"
						class="form-control"> <span
						th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}"></span></td>
					<td><input type="text" th:field="*{reason}" id="reason"
						placeholder="Reason" class="form-control"> <span
						th:if="${#fields.hasErrors('reason')}" th:errors="*{reason}"></span>
					</td>
				</tr>
			</table>
			<table class="form-outline mb-4">
				<tr>
					<td>Start Date</td>
					<td>End Date</td>
				</tr>
				<tr>
					<td><input type="date" th:field="*{startDate}" id="startDate"
						placeholder="Start Date" class="form-control"> <span
						th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></span>
					</td>
					<td><input type="date" th:field="*{endDate}" id="endDate"
						placeholder="End Date" class="form-control"> <span
						th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></span>
					</td>
				</tr>
			</table>
			<table class="form-outline mb-4" style="width: 100%">
				<tr>
					<td>Special Condition</td>
					<td style="width: 27%">Dei Number</td>
				</tr>
				<tr>
					<td><input type="text" th:field="*{sp_con}" id="sp_con"
						placeholder="Special Condition" class="form-control"> <span
						th:if="${#fields.hasErrors('sp_con')}" th:errors="*{sp_con}"></span>
					</td>
					<td><input type="number" th:field="*{dei}" id="dei"
						placeholder="Number" class="form-control" min="0"> <span
						th:if="${#fields.hasErrors('dei')}" th:errors="*{dei}"></span></td>
				</tr>
			</table>
			<!--<table class="form-outline mb-4">
				<tr>
					<td>First Name</td>
					<td>Last Name</td>
				</tr>
				<tr>
					<td><input type="text" th:field="*{firstName}" id="firstName"
						placeholder="FirstName" class="form-control"> <span
						th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
					</td>
					<td><input type="text" th:field="*{lastName}" id="lastName"
						placeholder="LastName" class="form-control"> <span
						th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
					</td>
				</tr>
			</table>
			<table>
				<tr>
					<td>Phone</td>
					<td>AFM</td>
				</tr>
				<tr>
					<td><input type="number" th:field="*{phone}" id="phone"
						placeholder="Phone" class="form-control"> <span
						th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
					</td>
					<td><input type="number" th:field="*{afm}" id="afm"
						placeholder="AFM" class="form-control"> <span
						th:if="${#fields.hasErrors('afm')}" th:errors="*{afm}"></span></td>
				</tr>
			</table> -->
			<!-- 
	    <div class="form-outline mb-4">
	        <label for="firstName" class="form-label">First Name</label>
	        <input type="text" th:field="*{firstName}" id="firstName" placeholder="FirstName" class="form-control">
	        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
	    </div>
	    <div class="form-outline mb-4">
	        <label for="lastName" class="form-label">Last Name</label>
	        <input type="text" th:field="*{lastName}" id="name" placeholder="LastName" class="form-control">
	        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
	    </div>
	     -->
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</body>
</html>